# Ignore compiled files
__pycache__/
*.egg-info/
build/
dist/
*.py[cod]

# Ignore virtual environment
.venv/

Analysis/Output_OAD/
Analysis/Output_Motter/
Analysis/Functions/__pycache__/
Paper/
Data/Raw/


*.png
*.profile
*.pdf

Analysis/*.png
Analysis/*.html
Analysis/*.out
Analysis/*.log
